<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crumbify">

        <activity
        android:name=".HomeActivity"
        android:exported="false"/>


        <activity android:name=".HomeAdminActivity" android:exported="false" />
        <activity android:name=".AddProductAdminActivity" android:exported="false" />
        <activity android:name=".NotifAdminActivity" android:exported="false" />
        <activity android:name=".DetailAdminActivity" android:exported="false" />
        <activity android:name=".CategoryAdminActivity" android:exported="false" />
        <activity android:name=".MyProfileAdminActivity" android:exported="false" />
        <activity android:name=".MyOrderActivity" android:exported="false" />
        <activity android:name=".DetailActivity" android:exported="false" />
        <activity android:name=".MyWishlistActivity" android:exported="false" />
        <activity android:name=".NotifActivity" android:exported="false" />
        <activity android:name=".SearchActivity" android:exported="false" />
        <activity android:name=".CategoryActivity" android:exported="false" />
        <activity android:name=".MyProfileActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>